@model List<Bookish.DataAccess.Book>


@{
    ViewBag.Title = "Book Library";
}
<h2>@ViewBag.Title</h2>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Copies</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
        <tr>
            <td>@book.title</td>
            <td>@book.author</td>
            <td>@book.isbn</td>
            <td>@book.copies</td>
        </tr>
        }
    </tbody>
</table>